# # # # version: 3.12
# # # # services:
# # # #   cardinal:
# # # #     image: kemonobat4/cardinal_system:latest
# # # #     environment:
# # # #       - DATABASE_URI=/data/database.db
# # # #     volumes:
# # # #       - ./${APP_ID}:/data
# # # #     ports:
# # # #       - "${APP_PORT}:23104"
# # # #       # TODO: make a way to create dynamic ports



# version: "3.12"
# services:
#   cardinal:
#     build: .
#     working_dir: /app

#     # Montiamo il core e l'app selezionata
#     volumes:
#       - ./core:/core:ro
#       - ./app/${APP_NAME}:/app/app:ro
#       - ${APP_NAME}_data:/data

#     environment:
#       - APP_NAME=${APP_NAME}
#       - DATABASE_URI=sqlite:////data/database.db

#     command: ["python", "run.py", "--config", "/app/app/application.cfg"]

#     ports:
#       - "${APP_PORT}:${APP_PORT}"


services:
  cardinal:
    build: .
    working_dir: /app

    volumes:
      - ./core:/app/core:ro
      - ./app/${APP_NAME}:/app/app:ro
      - app_data:/data

    environment:
      - APP_NAME=${APP_NAME}
      - DATABASE_URI=sqlite:////data/database.db

    command: ["python", "run.py", "--config", "/app/app/application.cfg"]

    ports:
      - "${APP_PORT}:${APP_PORT}"

volumes:
  app_data: