* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.vertical-container {
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: red;
}

.main-container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: yellow;
}

.header-container {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;

    background-color: blue;
}
