* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.vertical-container {
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: red;
}

.menu-container {
    width: 100%;
    height: 86%;
}

.version-container {
    width: 100%;
    height: 4%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background-color: green;
}

.infos-text {
    font-weight: bold;
}

.infos-text:hover {
    cursor: pointer;
}

.version-text {
    margin-left: 5px;
}

.main-container {
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: yellow;
}

.header-container {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;

    background-color: blue;
}

.project-info-container {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: lightblue;
}

.project-title {
    font-weight: bold;
    font-size: large;
}