
/* #############
# FORM SECTION #
############# */

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-submit {
    display: flex;
    flex-direction: row;
}

/* #############
# FORM SECTION #
############# */